<html>
	<head>
	<title>Priority To-Do lists</title>
	</head>
	<body>
		<h1>Priority To-Do</h1>
		<form method="POST">
		    <input name="item_text" id="id_new_item" placeholder="Enter a to-do item" />
			<select name="item_priority" id="id_priority">
			  <option value="1 | Prioridade Alta">Prioridade Alta</option>
			  <option value="2 | Prioridade Média">Prioridade Média</option>
			  <option value="3 | Prioridade Baixa">Prioridade Baixa</option>
			</select>
		    {% csrf_token %}
		</form>
		<table id="id_list_table">
			<tr><td>1 - {{ new_item_text }} - {{new_item_priority | last}}</td></tr>
		</table>
	</body>
</html>


